@model BankManager_Csharp.Models.AccountResponse
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<a href="/Dashboard/Logout">Log out</a>

<br />
Username: @Html.DisplayFor(model => model.account.username, new { @id = "username" })
<br />
First name: @Html.DisplayFor(model => model.account.firstName, new { @id = "first-name" })
<br />
Last name: @Html.DisplayFor(model => model.account.lastName, new { @id = "last-name" })
<br />
Address: @Html.DisplayFor(model => model.account.address, new { @id = "address" })
<br />
Balance: @Html.DisplayFor(model => model.account.balance, new { @id = "balance" })
<br />


<br><br>
    Withdraw or deposit:
<br>
<form class="dashboard-form" method="post" action="/Dashboard/MakeTransaction">
    <input type="number" name="amount" value="0" />
    <input name="option" type="radio" value="Withdraw" id="Withdraw" checked /> Withdraw
    <input name="option" type="radio" value="Deposit" id="Deposit" /> Deposit
    <input type="submit" value="Complete transaction" />
</form>
<br>

@if (Model.response != null)
{
    @Html.DisplayFor(model => model.response.message, new { @id = "message" })
}


@foreach (BankManager_Csharp.Models.Transaction transaction in Model.account.history)
{
    <br /><br />
    @Html.Raw("Transaction id: ")
    @Html.DisplayFor(_transaction => transaction.transactionId);
   <br />
    @Html.Raw("Account id: ")
    @Html.DisplayFor(_transaction => transaction.accountId);
    <br />
    @Html.Raw("Balance: ")
    @Html.DisplayFor(_transaction => transaction.balance);
    <br />
    @Html.Raw("Amount: ")
    @Html.DisplayFor(_transaction => transaction.amount);
    <br />
    @Html.Raw("Status: ")
    @Html.DisplayFor(_transaction => transaction.status);
    <br />
    @Html.Raw("Date: ")
    @Html.DisplayFor(_transaction => transaction.date);
    @Html.Raw("<br>");
}


