@model BankManager_Csharp.Models.Account
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<br />
Username: @Html.DisplayFor(model => model.accountId)
<br />
First name: @Html.DisplayFor(model => model.firstName)
<br />
Last name: @Html.DisplayFor(model => model.lastName)
<br />
Address: @Html.DisplayFor(model => model.address)
<br />
Balance: @Html.DisplayFor(model => model.balance)
<br />


<br><br>
    Withdraw or deposit:
<br>
<form method="post" action="/Dashboard/MakeTransaction">
    <input type="number" name="amount" value="0" />
    <input name="option" type="radio" value="Withdraw" id="Withdraw" checked /> Withdraw
    <input name="option" type="radio" value="Deposit" id="Deposit" /> Deposit
    <input type="submit" value="Complete transaction" />
</form>
<br>

@foreach (BankManager_Csharp.Models.Transaction transaction in Model.history)
{
    @Html.Raw("<br><br>")
    @Html.Raw("Account id: ")
    @Html.DisplayFor(_transaction => transaction.accountId);
    @Html.Raw("<br>");
    @Html.Raw("Balance: ")
    @Html.DisplayFor(_transaction => transaction.balance);
    @Html.Raw("<br>");
    @Html.Raw("Amount: ")
    @Html.DisplayFor(_transaction => transaction.amount);
    @Html.Raw("<br>");
    @Html.Raw("Status: ")
    @Html.DisplayFor(_transaction => transaction.status);
    @Html.Raw("<br>");
    @Html.Raw("Date: ")
    @Html.DisplayFor(_transaction => transaction.date);
    @Html.Raw("<br>");
}
